BODY{
	margin-top:50px;
}

.row.shell > [class*="span"] {
  display: inline;
  float: left;
  margin-left: 19px; /* Need this for the margin */
}


.h_nav{
	list-style-type: none;
}

.h_nav LI{
	display:inline;
}

/* Profile Navigation */
#profile_nav{
	margin-top:60px;
}

.profiles_container .shell{
	border:solid 1px #ccc;
}

.shell_profile{
	margin-top:25px;
}

.formItem LABEL{
	text-align:left;
	width:auto;
}